body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-weight: 300;
}

#he {
    /* can't trust the default Hebrew font to be a sane choice */
    font-family: 'SF Hebrew', 'Arial Hebrew', 'Arial', sans-serif;
    direction: rtl;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

/* works for both light and dark modes */
a {
    color: green;
}

#kafka-bg-container {
    float: right;
    margin-top: -22px;
    max-width: 634px;
}

/* hack: make the background not overtake small screens */
@media only screen and (max-width: 1034px) {
    #kafka-bg-container {
        width: 1px;
    }
}

#text-container {
    line-height: 150%;
    margin-left: 2em;
    margin-right: 2em;
    max-width: 400px;
    padding-top: 2em;
}

/* hack: invisible hr */ 
hr {
    border: 0px;
}

#small-print {
    bottom: 0;
    font-size: 9px;
    position: absolute;
}
